<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/static/frames/jquery-2.2.3/jquery.min.js"></script>
</head>
<body>

<form action="/data/list" method="post">
    <table border="1">
        <input type="submit" value="查询">
        <tr>
            <td>字段</td>
            <td>
                <select name="field">
                    <option value="id">id</option>
                    <option value="name">name</option>
                    <option value="category">category</option>
                    <option value="price">price</option>
                    <option value="area">area</option>
                    <option value="code">code</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>关键词</td>
            <td><input type="text" name="keyword"></td>
        </tr>
    </table>
</form>

<table border="1">
    <tr>
        <td><a href="/data/page">新增</a></td>
        <td><a href="/data/deleteAll">全部删除</a></td>
        <td><a href="/data/batchInsert">批量插入</a></td>
    </tr>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>category</td>
        <td>price</td>
        <td>area</td>
        <td>code</td>
        <td>修改</td>
        <td>删除</td>
    </tr>
    <tr th:each="product:${pageBean.list}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.category}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.area}"></td>
        <td th:text="${product.code}"></td>
        <td><a th:href="@{'/data/page?id='+${product.id}}">修改</a></td>
        <td><a th:href="@{'/data/delete?id='+${product.id}}">删除</a></td>
    </tr>
</table>

<div class="page">
    <span>共<th:block th:text="${pageBean.totalRecord}"/>条记录 <th:block th:text="${pageBean.currentPage}"/>/<th:block th:text="${pageBean.totalPage}"/></span>
    <a th:href="@{'/data/list?currentPage=1'}">第一页</a>
    <th:block th:each="i:${#numbers.sequence(pageBean.beginPage,pageBean.endPage)}">
        <a th:href="@{'/data/list?currentPage='+${i}}"><span><th:block th:text="${i}"/></span></a>
    </th:block>
    <a th:href="@{'/data/list?currentPage='+${pageBean.currentPage+1}}">下一页</a>
    <a th:href="@{'/data/list?currentPage='+${pageBean.totalPage}}">最后一页</a>
</div>

</body>
</html>